<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form name="addform" action="userAdd" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <h1>Account - Add</h1>
    <div>
      <label>userid:</label>
      <input type="text" name="CustomerName" placeholder="userID">
    </div>
    <div>
      <label>password:</label>
      <input type="password" name="Password" placeholder="password">
    </div>
    <div>
      <label>email:</label>
      <input type="text" name="Email" placeholder="email">
    </div>
    <div>
      <lavel>img:</lavel>
      <input type="file" name="img" placeholder="img">
    </div>
    <div>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
      <input type="button" value="Back" onclick="javascript: location.href='/'">
    </div>
  </form>
</body>

</html>
